@media (max-width : 1279px) {
  .md-sidenav-left {
    margin-top: 64px;
  }
  .pad-left {
    padding-left: 0;
  }
  .navbar-header {
    padding-top: 38px;
  }
}
@media (max-width: $screen-sm-max) {
  .md-sidenav-left {
    margin-top: 50px;
  }
}
@media (max-width: $screen-xs-max) {
  .navbar {
    margin-bottom: 10px;
    .navbar-header {
      padding-top: 0;
      display: inline-flex;
    }
  }
  .action-btn {
    min-width: 80px;
    display: inline-block;
  }
  .scroll {
    overflow-x: scroll;
    .table > thead > tr > th {
      border-bottom: 0 solid #ddd;
    }
  }
}
@media (max-width: 480px) {
  .navbar-header a {
    font-size: 22px;
    padding: 14px 15px;
    text-transform: uppercase;
  }
  .action-btn .md-button.md-icon-button {
    height: 20px;
    width: 20px;
    min-height: 20px;
  }
}
