<section class="container-fluid">
  <div layout="column" ng-cloak>
    <md-content layout-padding>
      <md-toolbar class="md-hue-2 md-whiteframe-1dp">
        <div class="md-toolbar-tools">
          <span>Admin User</span>
          <span flex="" class="flex"></span>
          <md-button class="md-raised pull-right" ui-sref="createadminuser">Create</md-button>
        </div>
      </md-toolbar>
      <div layout-padding class="brd">
        <!-- <div layout="row">
          <md-input-container class="md-block search" flex-gt-sm>
            <md-icon class="material-icons md-24">search</md-icon>
            <input ng-model="user.search" type="text" placeholder="Search" ng-required="true">
          </md-input-container>
          <span flex="" class="flex"></span>
          <md-input-container class="md-block" style="margin-right: 10px;">
            <label>Size</label>
            <md-select ng-model="size">
              <md-option ng-repeat="size in sizes" value="{{size}}">{{size}}</md-option>
            </md-select>
          </md-input-container>
        </div> -->
        <div class="scroll">
          <table class="table">
            <thead>
              <tr>
                <!-- <th>
                  <md-tooltip md-direction="top">
                    Select All
                  </md-tooltip>
                  <div class="checkbox-optimized text-center">
                    <md-checkbox class="md-primary" aria-label="Select All"></md-checkbox>
                  </div>
                </th> -->
                <th>Email</th>
                <th>Status</th>
                <th>Access Level</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="adminuser in adminusers">
                <!-- <td>
                  <div class="checkbox-optimized text-center">
                    <md-checkbox class="md-primary"  aria-label="Select"></md-checkbox>
                  </div>
                </td> -->
                <td>{{adminuser.email}}</td>
                <td>{{adminuser.status}}</td>
                <td>{{adminuser.accesslevel}}</td>
                <td class="action-btn">
                  <md-button class="md-icon-button" aria-label="EDIT">
                    <md-tooltip md-direction="top">
                      Edit
                    </md-tooltip>
                    <md-icon class="material-icons md-18" ui-sref="editadminuser({id:adminuser._id})">mode_edit</md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="Delete" ng-click="showConfirm(adminuser._id)">
                    <md-tooltip md-direction="top">
                      Delete
                    </md-tooltip>
                    <md-icon class="material-icons md-18">delete</md-icon>
                  </md-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </md-content>
  </div>
</section>
