<section class="container-fluid">
  <div layout="column" ng-cloak>
    <md-content layout-padding>
      <md-toolbar class="md-hue-2 md-whiteframe-1dp">
        <div class="md-toolbar-tools">
          <span>{{page.header}}</span>
        </div>
      </md-toolbar>
      <div layout-padding class="brd">
        <form name="adminForm">
          <div layout-gt-sm="row">
            <div class="col-md-6">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Email</label>
                <input required type="email" name="email" ng-model="project.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                <div ng-messages="adminForm.email.$error" role="alert">
                  <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                    Your email must be between 10 and 100 characters long and look like an e-mail address.
                  </div>
                </div>
              </md-input-container>
            </div>
          </div>
          <div layout-gt-sm="row">
            <div class="col-md-6">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Password</label>
                <input required md-no-asterisk type="password" name="password" ng-model="project.password" />
                <div ng-messages="adminForm.password.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>
          </div>
          <div layout-gt-sm="row">
            <div class="col-md-6">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Confirm Password</label>
                <input required md-no-asterisk type="password" name="confirmpassword" ng-model="project.confirmpassword" />
                <div ng-messages="adminForm.confirmpassword.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>
          </div>
          <div layout-gt-sm="row">
            <div class="col-md-6">
              <md-switch ng-model="project.status" aria-label="Status" ng-change="onChange(project.status)">
                Status
              </md-switch>
            </div>
          </div>
          <div layout-gt-sm="row">
            <div class="col-md-6">
              <md-input-container class="md-block" style="margin-right: 10px;">
                <label>Access Level</label>
                <md-select ng-model="project.accesslevel">
                  <md-option ng-repeat="accesslevel in accesslevels" value="{{accesslevel}}">{{accesslevel}}</md-option>
                </md-select>
              </md-input-container>
            </div>
          </div>
          <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" ng-click="submitForm(project)">Save</md-button>
            <md-button class="md-raised md-primary" ui-sref="adminuser">Cancel</md-button>
          </div>
        </form>
      </div>
    </md-content>
  </div>
</section>
