<section class="container-fluid">
  <div layout="column" ng-cloak>
    <md-content layout-padding>
      <md-toolbar class="md-hue-2 md-whiteframe-1dp">
        <div class="md-toolbar-tools">
          <span>{{page.header}}</span>
        </div>
      </md-toolbar>
      <div layout-padding class="brd">
        <form name="matchForm">
          <div layout-gt-sm="row">
            <div class="col-md-6">
              <md-input-container class="md-block">
                <label>team1</label>
                <md-select name="team1" ng-model="project.team1" required>
                  <md-option value="1">India</md-option>
                  <md-option value="2">Pakistan</md-option>
                </md-select>
                <div class="errors" ng-messages="matchForm.team1.$error" ng-if="matchForm.$dirty">
                  <div ng-message="required">Required</div>
                </div>
              </md-input-container>
            </div>
            <div class="col-md-6">
              <md-input-container class="md-block">
                <label>team2</label>
                <md-select name="team2" ng-model="project.team2" required>
                  <md-option value="1">India</md-option>
                  <md-option value="2">Pakistan</md-option>
                </md-select>
                <div class="errors" ng-messages="matchForm.team1.$error" ng-if="matchForm.$dirty">
                  <div ng-message="required">Required</div>
                </div>
              </md-input-container>
            </div>
          </div>
          <div layout-gt-sm="row">
            <div class="col-md-6">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Tournament</label>
                <input required md-no-asterisk type="text" name="Tournament" ng-model="project.tournament" />
                <div ng-messages="matchForm.tournament.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>
            <div class="col-md-6">
              <md-input-container class="md-block" flex-gt-sm>
                <label>No of Overs</label>
                <input required type="number" step="any" name="overs" ng-model="project.overs"/>
                <div ng-messages="userForm.overs.$error">
                  <div ng-message="required"> - Please enter a valid overs</div>
                </div>
              </md-input-container>
            </div>
          </div>
        </form>
        <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <md-button class="md-raised md-primary" ng-click="submitForm(project)">Save</md-button>
          <md-button class="md-raised md-primary" ui-sref="matchupdates">Match Updates</md-button>
        </div>
      </div>
    </md-content>
  </div>
</section>
