<section class="container-fluid">
  <div layout="column" ng-cloak>
    <md-content layout-padding>
      <md-toolbar class="md-hue-2 md-whiteframe-1dp">
        <div class="md-toolbar-tools">
          <span>Edit Match</span>
        </div>
      </md-toolbar>
      <div layout-padding class="brd">
        <div class="row">
          <div class="col-md-7">
            <md-tabs md-dynamic-height md-border-bottom>
              <md-tab label="India">
                <md-content>
                  <md-container class="md-block" layout-align="center center">
                    <h4>First Innings</h4>
                  </md-container>
                  <form name="projectForm">
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Runs</label>
                        <input required md-no-asterisk name="team1" disabled="disabled" value="0">
                        <div ng-messages="projectForm.team1.$error">
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Wicket</label>
                        <input required md-no-asterisk name="team2" disabled="disabled" value="0">
                        <div ng-messages="projectForm.team2.$error">
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Overs</label>
                        <input required md-no-asterisk name="team2" disabled="disabled" value="0">
                        <div ng-messages="projectForm.team2.$error">
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Ball</label>
                        <input required md-no-asterisk name="team2" disabled="disabled" value="0">
                        <div ng-messages="projectForm.team2.$error">
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>No of Runs</label>
                        <input required type="number" name="Tournament" ng-model="project.tournament" />
                        <div ng-messages="projectForm.tournament.$error">
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Overs</label>
                        <input required type="number" step="any" name="overs" ng-model="project.overs" />
                        <div ng-messages="projectForm.overs.$error">
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Wickets</label>
                        <input required type="wickets" step="any" name="wickets" ng-model="project.overs" />
                        <div ng-messages="projectForm.wickets.$error">
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>
                    </div>
                    <div layout="row">
                      <md-input-container class="switch-mrg">
                        <md-switch ng-model="data.cb1" aria-label="Switch 1">
                          Match Suspend
                        </md-switch>
                      </md-input-container>
                    </div>
                    <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                      <md-button class="md-raised md-primary">Save</md-button>
                    </div>
                  </form>
                  <div class="editmatch-text">
                    <p class="text-center">
                      INDIA NEED <span class="bold">19</span> RUNS IN <span class="bold">5</span> Ball.
                    </p>
                  </div>
                </md-content>
              </md-tab>
              <md-tab label="Pakistan">
                <md-content>
                  <md-container class="md-block" layout-align="center center">
                    <h4>Second Innings</h4>
                  </md-container>
                  <form name="projectForm">
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Team1 Name</label>
                        <input required md-no-asterisk name="team1" ng-model="project.team1">
                        <div ng-messages="projectForm.team1.$error">
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Team2 Name</label>
                        <input required md-no-asterisk name="team2" ng-model="project.team2">
                        <div ng-messages="projectForm.team2.$error">
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>
                    </div>
                    <div layout-gt-sm="row">
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Tournament</label>
                        <input required type="text" name="Tournament" ng-model="project.tournament">
                        <div ng-messages="projectForm.tournament.$error">
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Overs</label>
                        <input required type="text" step="any" name="overs" ng-model="project.overs">
                        <div ng-messages="projectForm.overs.$error">
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>
                      <md-input-container class="md-block" flex-gt-sm>
                        <label>Overs</label>
                        <input required type="text" step="any" name="overs" ng-model="project.overs">
                        <div ng-messages="projectForm.overs.$error">
                          <div ng-message="required">This is required.</div>
                        </div>
                      </md-input-container>
                    </div>
                    <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                      <md-button class="md-raised md-primary">Submit</md-button>
                    </div>
                  </form>
                </md-content>
              </md-tab>
            </md-tabs>
          </div>
          <div class="col-md-5">
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
              <md-button class="md-raised md-primary">Live</md-button>
              <!-- <md-button class="md-raised md-primary">Interrupted</md-button> -->
            </section>
            <div class="panel panel-default">
              <div layout-padding>
                <div class="fixtures">
                  <div class="country">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="title-country">India</div>
                      </div>
                      <div class="col-md-6">
                        <div class="title-country">Pakistan</div>
                      </div>
                    </div>
                  </div>
                  <div class="country-form">
                    <form name="projectForm">
                      <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          <label>Rates</label>
                          <input required type="number" name="rates" ng-model="project.rates">
                          <div ng-messages="projectForm.rates.$error">
                            <div ng-message="required">This is required.</div>
                          </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                          <label>Rates</label>
                          <input required type="number" name="rates" ng-model="project.rates">
                          <div ng-messages="projectForm.rates.$error">
                            <div ng-message="required">This is required.</div>
                          </div>
                        </md-input-container>
                      </div>
                      <div layout-gt-sm="row">
                        <md-input-container class="md-block" flex-gt-sm>
                          <label>Rates</label>
                          <input required type="number" name="rates" ng-model="project.rates">
                          <div ng-messages="projectForm.rates.$error">
                            <div ng-message="required">This is required.</div>
                          </div>
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-sm>
                          <label>Rates</label>
                          <input required type="number" name="rates" ng-model="project.rates">
                          <div ng-messages="projectForm.rates.$error">
                            <div ng-message="required">This is required.</div>
                          </div>
                        </md-input-container>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
  <md-content layout-padding>
    <div layout-padding class="brd">
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="FIRST INNING">
          <md-content layout-padding>
            <div class="title">
              <md-button class="md-fab md-mini pull-right" aria-label="Add">
                <md-icon>add</md-icon>
              </md-button>
              <h4>CREATE NEW SESSION</h4>
            </div>
            <div class="cont-made">
              <div class="row">
                <div class="col-md-2"><div class="overs-title">
                  10
                </div></div>
                <div class="col-md-2">
                  
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-"></div>
              </div>
            </div>
          </md-content>
        </md-tab>
        <md-tab label="SECOND INNING">
          <md-content layout-padding>
            <div class="title">
              <md-button class="md-fab md-mini pull-right" aria-label="Add">
                <md-icon>add</md-icon>
              </md-button>
              <h4>CREATE NEW SESSION</h4>
            </div>
            .
          </md-content>
        </md-tab>
      </md-tabs>
  </md-content>
  </div>
</section>
