<section class="container-fluid">
  <div layout="column" ng-cloak>
    <md-content layout-padding>
      <md-toolbar class="md-hue-2 md-whiteframe-1dp">
        <div class="md-toolbar-tools">
          <span>{{page.header}}</span>
        </div>
      </md-toolbar>
      <div layout-padding class="brd">
        <form name="matchForm">
          <div layout-gt-sm="row">
            <div class="col-md-6">
              <md-input-container class="md-block">
                <label>Team1</label>
                <md-select name="team1" ng-model="project.team1" required>
                  <md-option ng-repeat="team in teams" value="{{team._id}}" ng-if="team._id !== project.team2">{{team.name}}</md-option>
                </md-select>
                <div class="errors" ng-messages="matchForm.team1.$error" ng-if="matchForm.$dirty">
                  <div ng-message="required">Required</div>
                </div>
              </md-input-container>
            </div>
          </div>
          <div layout-gt-sm="row">
            <div class="col-md-6">
              <md-input-container class="md-block">
                <label>Team2</label>
                <md-select name="team2" ng-model="project.team2" required>
                  <md-option ng-repeat="team in teams" value="{{team._id}}" ng-if="team._id !== project.team1">{{team.name}}</md-option>
                </md-select>
                <div class="errors" ng-messages="matchForm.team1.$error" ng-if="matchForm.$dirty">
                  <div ng-message="required">Required</div>
                </div>
              </md-input-container>
            </div>
          </div>
          <div layout-gt-sm="row">
            <div class="col-md-6">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Tournament</label>
                <input required md-no-asterisk type="text" name="Tournament" ng-model="project.cupName" />
                <div class="errors" ng-messages="matchForm.cupName.$error" ng-if="matchForm.$dirty">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>
          </div>
          <div layout-gt-sm="row">
            <div class="col-md-6">
              <md-input-container class="md-block" flex-gt-sm>
                <label>No of Overs</label>
                <input required type="number" step="any" name="overs" ng-model="project.overs" />
                <div ng-messages="matchForm.overs.$error" ng-if="matchForm.$dirty">
                  <div ng-message="required"> - Please enter a valid overs</div>
                </div>
              </md-input-container>
            </div>
          </div>
          <div layout-gt-sm="row">
            <div class="col-md-6">
              <label>Status</label>
              <md-switch ng-model="project.status" aria-label="{{project.status}}" ng-change="onChange(project.status)">
              </md-switch>
            </div>
          </div>
        </form>
        <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
          <md-button class="md-raised md-primary" ng-click="submitForm(project)">Save</md-button>
          <md-button class="md-raised md-primary" ui-sref="matches">cancel</md-button>
          <md-button class="md-raised md-primary" ui-sref="matchupdates">Match Updates</md-button>
        </div>
      </div>
    </md-content>
  </div>
</section>
