<section class="container-fluid">
  <div class="loadingRow" ng-hide="gotValue">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      <br><p>
        Loading
      </p>
  </div>
  <div layout="column" ng-cloak ng-show="gotValue">
    <md-content layout-padding>
      <md-toolbar class="md-hue-2 md-whiteframe-1dp">
        <div class="md-toolbar-tools">
          <span>{{page.header}}</span>
        </div>
      </md-toolbar>
      <div layout-padding class="brd">
        <form name="notificationForm">
          <div layout-gt-sm="row">
            <div class="col-md-6">
              <md-input-container class="md-block" flex-gt-sm>
                <label>Title</label>
                <input required name="title" ng-model="project.title">
                <div ng-messages="notificationForm.title.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>
          </div>
          <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" ng-click="submitForm(project)">Save</md-button>
            <md-button class="md-raised md-primary" ui-sref="notification">Cancel</md-button>
          </div>
        </form>
      </div>
    </md-content>
  </div>
</section>
