<section class="container-fluid">
  <div class="loadingRow" ng-hide="gotValue">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
      <br><p>
        Loading
      </p>
  </div>
  <div layout="column" ng-cloak ng-show="gotValue">
    <md-content layout-padding>
      <md-toolbar class="md-hue-2 md-whiteframe-1dp">
        <div class="md-toolbar-tools">
          <span>Notification</span>
          <span flex="" class="flex"></span>
          <md-button class="md-raised pull-right" ui-sref="createnotification">Create</md-button>
        </div>
      </md-toolbar>
      <div layout-padding class="brd">
        <!-- <div layout="row">
          <md-input-container class="md-block search" flex-gt-sm>
            <md-icon class="material-icons md-24">search</md-icon>
            <input ng-model="user.search" type="text" placeholder="Search" ng-required="true">
          </md-input-container>
          <span flex="" class="flex"></span>
          <md-input-container class="md-block" style="margin-right: 10px;">
            <label>Size</label>
            <md-select ng-model="size">
              <md-option ng-repeat="size in sizes" value="{{size}}">{{size}}</md-option>
            </md-select>
          </md-input-container>
        </div> -->
        <div class="scroll">
          <table class="table">
            <thead>
              <tr>
  <!-- <th>
                  <div class="checkbox-optimized text-center">
                    <md-tooltip md-direction="top">
                      Select all
                    </md-tooltip>
                    <md-checkbox class="md-primary">
                    </md-checkbox>
                  </div>
                </th> -->
                <th>Title</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr ng-repeat="notification in notifications">
                <!-- <td>
                  <div class="checkbox-optimized text-center">
                    <md-checkbox class="md-primary" aria-label="select all"></md-checkbox>
                  </div>
                </td> -->
                <!-- <td>{{data.id}}</td> -->
                <td>{{notification.title}}</td>
                <td class="action-btn">
                  <md-button class="md-icon-button" aria-label="EDIT">
                    <md-tooltip md-direction="top">
                      Edit
                    </md-tooltip>
                    <md-icon class="material-icons md-18" ui-sref="editnotification({id:notification._id})">mode_edit</md-icon>
                  </md-button>
                  <md-button class="md-icon-button" aria-label="Delete">
                    <md-tooltip md-direction="top">
                      Delete
                    </md-tooltip>
                    <md-icon class="material-icons md-18" ng-click="showConfirm(notification._id)">delete</md-icon>
                  </md-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </md-content>
  </div>
</section>
