<section class="container-fluid">
  <div layout="column" ng-cloak>
    <md-content layout-padding>
      <md-toolbar class="md-hue-2 md-whiteframe-1dp">
        <div class="md-toolbar-tools">
          <span>{{page.header}}</span>
        </div>
      </md-toolbar>
      <div layout-padding class="brd">
        <form name="userForm">
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Name</label>
              <input required name="name" ng-model="project.name">
              <div ng-messages="userForm.name.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Mobile</label>
              <input type="tel" name="mobile" ng-model="project.mobile" required minlength="10" maxlength="10">
              <div ng-messages="userForm.mobile.$error">
                <div ng-message-exp="['required', 'minlength', 'maxlength']">
                  Your phone must be between 10 number long.
                </div>
              </div>
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Password</label>
              <input required md-no-asterisk type="password" name="password" ng-model="project.password" />
              <div ng-messages="userForm.password.$error">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm>
              <label>Confirm Password</label>
              <input required md-no-asterisk type="password" name="confirmpassword" ng-model="project.confirmpassword" />
              <div ng-messages="userForm.confirmpassword.$error">
                <div ng-message="required">This is required.</div>
              </div>
              <div ng-show="nomatch">
                Password does not match.
              </div>
            </md-input-container>
          </div>
          <!-- <div layout-gt-sm="row">
            <div class="col-md-6">
              <md-input-container>
                <md-switch ng-model="project.status" aria-label="Status" ng-change="onChange(project.status)">
                  Status
                </md-switch>
              </md-input-container>
            </div>
          </div> -->
          <div layout-gt-sm="row">
            <div class="col-md-6">
              <div class="colors">
                <label>Expiry</label>
              </div>
              <md-datepicker ng-model="project.expiry" md-placeholder="Enter date">
              </md-datepicker>
            </div>
          </div>
          <div layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-raised md-primary" ng-click="submitForm(project,userForm)">Save</md-button>
            <md-button class="md-raised md-primary" ui-sref="user">Cancel</md-button>
          </div>
        </form>
      </div>
    </md-content>
  </div>
</section>
