<div class="cmd">
  <div class="brd">
    <div class="layout-padding">
      <div layout="row">
        <md-input-container class="md-block search" flex="66">
          <input name="team2" ng-model="command.input" ng-change="commandChange">
        </md-input-container>
        <md-input-container class="md-block md-primary" flex="33">
          <md-switch ng-model="data.cb2" aria-label="Switch 1">
            Favorites
          </md-switch>
        </md-input-container>
      </div>
    </div>
  </div>
</div>
