<!-- <div class="modal-header">
  <h4 class="modal-title">Are you sure you want to delete?</h4>
</div>
<div class="modal-footer">
  <button class="btn btn-primary btn-outline btn-small" type="button" ng-click="deleteTeam(team._id)">Yes</button>
  <button class="btn btn-primary btn-outline btn-small" type="button" ng-click="close(false)">No</button>
</div> -->
<md-dialog aria-label="Delete">
  <md-dialog-content class="md-dialog-content">
    <h4>Are you sure you want to delete?</h4>
    <md-dialog-actions layout-align="center center">
      <md-button ng-click="deleteClicked();" class="md-warn md-raised md-hue-2">
        Delete
      </md-button>
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
  </md-dialog-content>
</md-dialog>
